accelerate
auto_gptq
bitsandbytes
fastapi
flash_attn
openai
peft
protobuf
pydantic
python-datauri
requests
sentencepiece
torch>=2.2.0
uvicorn
xformers

# moondream
deepspeed==0.11.1
einops
einops-exts
httpx
markdown2[all]
open_clip_torch
shortuuid
timm
tokenizers
torchvision

# qwen
matplotlib
optimum
tiktoken
transformers_stream_generator

# Yi-VL / CogVLM
loguru
sse_starlette

#latest
#transformers>=4.39.0

#alt
#transformers==4.36.2
