# This sample env file can be used to set environment variables for the docker-compose.yml
# Copy this file to vision.env and uncomment the model of your choice.
HF_HOME=hf_home
HF_HUB_ENABLE_HF_TRANSFER=1
#HF_TOKEN=hf-...
#CUDA_VISIBLE_DEVICES=1,0
#CLI_COMMAND="python vision.py -m BAAI/Bunny-Llama-3-8B-V --load-in-4bit"  # test pass✅, time: 11.6s, mem: 8.8GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m BAAI/Bunny-Llama-3-8B-V"  # test pass✅, time: 8.3s, mem: 19.7GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m BAAI/Bunny-v1_1-Llama-3-8B-V --load-in-4bit"  # test pass✅, time: 12.0s, mem: 9.4GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m BAAI/Bunny-v1_1-Llama-3-8B-V"  # test pass✅, time: 10.7s, mem: 19.7GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m HuggingFaceM4/idefics2-8b -A flash_attention_2 --device-map cuda:0 --load-in-4bit"  # test pass✅, time: 26.2s, mem: 29.9GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m HuggingFaceM4/idefics2-8b -A flash_attention_2 --device-map cuda:0"  # test pass✅, time: 22.9s, mem: 39.5GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m HuggingFaceM4/idefics2-8b-AWQ -A flash_attention_2 --device-map cuda:0"  # test pass✅, time: 25.0s, mem: 29.7GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m HuggingFaceM4/idefics2-8b-chatty -A flash_attention_2 --device-map cuda:0 --load-in-4bit"  # test pass✅, time: 31.1s, mem: 29.9GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m HuggingFaceM4/idefics2-8b-chatty -A flash_attention_2 --device-map cuda:0"  # test pass✅, time: 24.8s, mem: 39.4GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m HuggingFaceM4/idefics2-8b-chatty-AWQ -A flash_attention_2 --device-map cuda:0"  # test pass✅, time: 26.9s, mem: 29.7GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m OpenGVLab/InternVL2-4B --device-map cuda:0 --load-in-4bit"  # test pass✅, time: 11.6s, mem: 5.9GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m OpenGVLab/InternVL2-4B --device-map cuda:0"  # test pass✅, time: 8.0s, mem: 10.9GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m OpenGVLab/Mini-InternVL-Chat-4B-V1-5 --max-tiles 40 --load-in-4bit"  # test pass✅, time: 10.8s, mem: 9.9GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m OpenGVLab/Mini-InternVL-Chat-4B-V1-5 --load-in-4bit"  # test pass✅, time: 9.5s, mem: 6.3GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m OpenGVLab/Mini-InternVL-Chat-4B-V1-5"  # test pass✅, time: 7.6s, mem: 11.3GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/cogagent-chat-hf --load-in-4bit"  # test pass✅, time: 32.0s, mem: 13.4GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/cogagent-chat-hf"  # test pass✅, time: 22.8s, mem: 37.6GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/cogvlm-chat-hf --load-in-4bit"  # test pass✅, time: 27.8s, mem: 12.9GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/cogvlm-chat-hf"  # test pass✅, time: 21.3s, mem: 36.5GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/cogvlm2-llama3-chat-19B --load-in-4bit"  # test pass✅, time: 35.4s, mem: 22.4GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/cogvlm2-llama3-chat-19B"  # test pass✅, time: 31.3s, mem: 40.7GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/cogvlm2-llama3-chinese-chat-19B --load-in-4bit"  # test pass✅, time: 123.3s, mem: 22.4GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/cogvlm2-llama3-chinese-chat-19B"  # test pass✅, time: 125.6s, mem: 40.7GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m THUDM/glm-4v-9b --device-map cuda:0 --load-in-4bit"  # test fail❌, time: 4.3s, mem: 17.8GB, Test failed with Exception: Error code: 500 - {'message': 'InternalServerError', 'code': 500}
#CLI_COMMAND="python vision.py -m THUDM/glm-4v-9b --device-map cuda:0"  # test fail❌, time: 4.1s, mem: 29.1GB, Test failed with Exception: Error code: 500 - {'message': 'InternalServerError', 'code': 500}
#CLI_COMMAND="python vision.py -m TIGER-Lab/Mantis-8B-clip-llama3 -A flash_attention_2 --device-map cuda:0 --load-in-4bit"  # test pass✅, time: 13.1s, mem: 7.6GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m TIGER-Lab/Mantis-8B-clip-llama3 -A flash_attention_2 --device-map cuda:0"  # test pass✅, time: 9.8s, mem: 17.5GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m TIGER-Lab/Mantis-8B-siglip-llama3 -A flash_attention_2 --device-map cuda:0 --load-in-4bit"  # test pass✅, time: 9.2s, mem: 8.4GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m TIGER-Lab/Mantis-8B-siglip-llama3 -A flash_attention_2 --device-map cuda:0"  # test pass✅, time: 7.6s, mem: 18.1GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m cognitivecomputations/dolphin-vision-72b -A flash_attention_2 --load-in-4bit --device-map cuda:0"  # test fail❌, time: -1.0s, mem: -1.0GB, Error: Server failed to start (timeout).
#CLI_COMMAND="python vision.py -m cognitivecomputations/dolphin-vision-7b -A flash_attention_2 --load-in-4bit --device-map cuda:0"  # test pass✅, time: 45.3s, mem: 8.9GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m cognitivecomputations/dolphin-vision-7b -A flash_attention_2 --device-map cuda:0"  # test fail❌, time: 7.8s, mem: 16.6GB, Test failed with Exception: Error code: 500 - {'message': 'InternalServerError', 'code': 500}
#CLI_COMMAND="python vision.py -m llava-hf/llava-v1.6-mistral-7b-hf -A flash_attention_2 --load-in-4bit"  # test pass✅, time: 21.9s, mem: 8.1GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m llava-hf/llava-v1.6-mistral-7b-hf -A flash_attention_2"  # test pass✅, time: 17.9s, mem: 17.4GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m omlab/omchat-v2.0-13B-single-beta_hf -A flash_attention_2"  # test pass✅, time: 28.5s, mem: 42.9GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m openbmb/MiniCPM-V -A flash_attention_2 --device-map cuda:0 --load-in-4bit"  # test pass✅, time: 8.0s, mem: 5.5GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m openbmb/MiniCPM-V -A flash_attention_2 --device-map cuda:0"  # test pass✅, time: 6.1s, mem: 8.7GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m openbmb/MiniCPM-V-2 -A flash_attention_2 --device-map cuda:0 --load-in-4bit"  # test fail❌, time: 1.8s, mem: 3.6GB, Test failed with Exception: Error code: 500 - {'message': 'InternalServerError', 'code': 500}
#CLI_COMMAND="python vision.py -m openbmb/MiniCPM-V-2 -A flash_attention_2 --device-map cuda:0"  # test pass✅, time: 9.5s, mem: 9.1GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m qihoo360/360VL-8B -A flash_attention_2 --load-in-4bit"  # test pass✅, time: 15.0s, mem: 8.4GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m qihoo360/360VL-8B -A flash_attention_2"  # test pass✅, time: 8.7s, mem: 17.3GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m tiiuae/falcon-11B-vlm -A flash_attention_2 --load-in-4bit"  # test pass✅, time: 17.5s, mem: 17.1GB, 13/13 tests passed.
#CLI_COMMAND="python vision.py -m tiiuae/falcon-11B-vlm -A flash_attention_2"  # test pass✅, time: 15.9s, mem: 32.4GB, 13/13 tests passed.
